
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Space+Mono&display=swap");

* {
    --rifle-green: #53563bff;
    --gray-x-11-gray: #b8bab9ff;
    --granite-gray: #5f5f5dff;
    --platinum: #e4e6e7ff;
    --black-chocolate: #201f18ff;
}
img {
    width: 100%;
}

header {
    width: 50vw;
    font-weight: 2000;
}
body {
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color:var(--platinum);
    color: var(--rifle-green);
    font-weight: 700;
}

main {
    background-image: url("./assets/shepherd-gc07e118af_1920.jpg");
}




